<!doctype html>
<html ng-app="todoApp">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <h2>album</h2>
    <div ng-controller="TodoListController as todoList">    
      <div class="image-thumbnails" ng-repeat="image in images | filter:{albumId:albumIdd}" ng-click="getIdImage(image.id)">
          <p>{{image.id}}</p>
        <a href="{{image.url}}"><img src="{{image.thumbnailUrl}}" /></a> 
          <p>{{image.title}} </p>
      </div>
    </div>
  </body>
</html>